        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: black;
        }

        .main {
            background-image: url("Images/Background_Image.jpg");
            background-position: center center;
            background-size: max(1200px, 100vw);
            background-repeat: no-repeat;
            height: 600px;
            position: relative;
        }

        .main .box {
            height: 600px;
            width: 100%;
            opacity: 0.67;
            position: absolute;
            top: 0;
            background-color: black;
        }

        .logo {
            height: 110px;
            width: 150px;
            /* padding-left: 150px; */
            /* position: relative;
            z-index: 1; */
        }

        nav {
            position: relative;
            z-index: 10;
            display: flex;
            /* background-color: aqua; */
            justify-content: space-around;
            align-items: center;
        }

        .sign {
            border: none;
            background-color: red;
            color: white;
            height: 35px;
            width: 70px;
            /* position: relative;
            z-index: 100; */
            border-radius: 5px;
            font-weight: 700;
        }

        .eng {
            border: 1px solid gainsboro;
            border-radius: 5px;
            background-color: black;
            color: white;
            height: 35px;
            width: 120px;
        }

        .h {
            font-size: 60px;
            color: white;
            position: relative;
            z-index: 1;
            width: 790px;
            font-weight: bolder;
            /* text-align: center; */
        }

        .main_text {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 130px;
        }

        .h2 {
            font-weight: bold;
            font-size: 20px;
            padding-top: 20px;
        }

        .h3 {
            font-size: 15px;
            padding-top: 30px;
        }

        .h2,
        .h3 {
            position: relative;
            z-index: 1;
            color: white;
            text-align: center;
        }

        .search {
            padding-top: 40px;
            display: flex;
            position: relative;
            z-index: 1;
            justify-content: center;
            align-items: center;

        }

        .search input {
            height: 60px;
            width: 390px;
            font-size: 15px;
            border-radius: 5px;
            background-color: black;
            border: 1px solid gainsboro;
            opacity: 0.4;
            padding-left: 10px;
            /* text-align: center; */
            margin-right: 10px;
        }

        .search button {
            height: 62px;
            width: 230px;
            border-radius: 5px;
            background-color: red;
            color: white;
            font-size: 25px;
            font-weight: bold;
            border: none;
            margin-left: 10px;
        }

        /* Separater */
        .separater{
            height: 5px;
            position: relative;
            background-color: rgb(197, 4, 4);
            border-radius: 60%;
            box-shadow: 1px 35px 65px 30px rgb(18, 18, 55);
        }

        @media only screen and (max-width:590px) {
            .main{
                display: inline;
            }
        }

        /* Trending Section */

        .trending_text{
            font-size: 30px;
            margin: 30px 0px;
        }

        .trending_Images{
            display: flex;
            gap: 60px;
        }

        .trending_Images div img{
            border-radius: 15px;
        }